#formHeading{
    color: rgb(255, 123, 0);
}

#dvTwo-tab:hover, #dvThree-tab:hover{
    background-color:  rgb(255, 123, 0);
    border: none;
}
.profileForm-form1{
    margin: 20px;
}
.form-group{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input{
    width: 100%;
    height: 40px;
}
input[type=text]:focus{
    border: blue;
}
#optCountries{
    height: 40px;
}
.btn-signup{
    color: #fff;
    background-color: rgb(255, 123, 0);
    font-weight: bold;
    border: transparent;
}
.btn-signup:hover{
    color: rgb(255, 123, 0); 
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 123, 0);
}
.required-mark{
    color: red;
    font-weight: bold;
}